/** @format */
/* add fonts */

@import url('https://fonts.googleapis.com/css?family=Montserrat:300,500&display=swap');

:root {
	/* set colors */
	--colorLight: rgba(255, 255, 245, 1);
	--colorLightTrans: rgba(255, 255, 245, 0.5);
	--colorDark: rgba(24, 24, 28, 1);
	--colorDarkTrans: rgba(24, 24, 28, 0.3);

	/* accent color */
	--colorBlue: #83ebeb;
	--colorGreen: #b7eb83;
	--colorRed: #eb8383;
	/* set other vars */
	--standardShadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
	--focusShadow: 0px 4px 8px rgba(0, 0, 0, 0.3);

	--transition: 0.25s ease;
}

body,
html {
	margin: 0;
	padding: 0;

	box-sizing: border-box;

	/* set body font properties */
	font-family: 'Montserrat', sans-serif;
	font-size: 10px; /* setting font to 10px makes it easy to use em / rem calcs */
	font-weight: 300;
}

.global-BoldText {
	font-weight: 500;
	text-shadow: var(--standardShadow);
}
